/* style.css */
.body {
    padding: 0;
    margin: 0;
   font-family:'Times New Roman', Times, serif;
   
}

.container {
color: rgb(64, 0, 255);
}



.nav-container {
    background-color: var(--bg-darkgrey);
  }

  .navLinks {
    color: var(--bg-lightblue)!important;
    border-bottom: 3px solid var(--bg-lightblue);
  }

  .navLinks:hover {
    background-color: var(--bg-lightblue);
    color: var(--bg-darkgrey)!important;
}